{% extends 'base.html' %}

{% load humanize %}

{% block title %} {{ product }} | {{ block.super }} {% endblock title %}

{% block container %}

    {% load crispy_forms_tags %}

    {% load static %}
    {% load static i18n %}
    <link rel="stylesheet" type="text/css" href="{% static 'assets/bootstrap_ratings.css' %}">
    {#    <link rel="stylesheet" href="../../assets/bootstrap_ratings.css" media="screen"/>#}

    <div class="page-header">
        <h2>{% trans 'Avaliar Produto' %}</h2>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <a href="#" class="thumbnail">
                <img src="{% static "img/default-image-350x250.png" %}" alt=""/>
            </a>
        </div>
        <div class="col-sm-8">
            <h2>{{ product }}</h2>
            <div class="start-products rate-product">
                {% if done != True and new_rating == None %}
                    <span class="fa fa-star-o" id="star1"></span>
                    <span class="fa fa-star-o" id="star2"></span>
                    <span class="fa fa-star-o" id="star3"></span>
                    <span class="fa fa-star-o" id="star4"></span>
                    <span class="fa fa-star-o" id="star5"></span>
                {% endif %}
                <input type="hidden" id="score" name="score" value="{{ product.score }}"/>
            </div>
            <div>
                {% if done %}
                    <h2>{% trans 'Você já avaliou este produto.' %}</h2>
                {% else %} {% if new_rating %}
                    <h2>{% trans 'Seu comentário foi adicionado.' %}</h2>
                {% else %}
                    <h4>{% trans 'Adicione um comentário' %}</h4>
                    <form action="." method="post">
                        <input type="hidden" id="current-score" name="current-score" value="0"/>
                        {{ comment_form.as_p }} {% csrf_token %}
                        <p>
                            <input type="submit" class="btn btn-primary" value="Add comment"/>
                        </p>
                    </form>
                {% endif %} {% endif %}
            </div>
        </div>
    </div>
    <br/>

    <div class="row">
        <div>
            <h2> {% trans 'Avaliações' %} </h2>
            {% for comment in comments %}
                <div class="card text-center">
                    <div class="card-header"><p class="card-text">{{ comment.score }}</p>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ comment.user }}</h5>
                        <p class="card-text">{{ comment.comment|linebreaks }}</p>

                    </div>
                    <div class="card-footer text-muted">
                        {{ comment.date|naturaltime }}
                    </div>
                </div>

            {% empty %}
                <p>{% trans 'There are no comments yet.' %}</p>
            {% endfor %}
        </div>
    </div>

    <script>

        if ("{{ done }}" === "True") {
            let rate_div_tag = document.getElementsByClassName('rate-product')[0];
            rate_div_tag.classList.remove('rate-product');

            createStars(1, "{{ score_by_user }}");
        } else if ("{{ new_rating }}" != "None") {
            let rate_div_tag = document.getElementsByClassName('rate-product')[0];
            rate_div_tag.classList.remove('rate-product');

            createStars(1, "{{ new_rating.score }}");
        }

    </script>

{% endblock %}
</div>
</div>