{% extends "base.html" %}{% load static i18n %} {% block title %} Finalização da Compra {% endblock %}
{% block container %}
<ol class="breadcrumb">
  <li><a href="{% url 'index' %}">{% trans 'Início' %}</a></li>
  <li><a href="{% url 'checkout:cart_item' %}">{% trans 'Carrinho de Compras' %}</a></li>
  <li class="active">{% trans 'Finalização da Compra' %}</li>
</ol>
<div class="page-header">
  <h1>{% trans 'Escolha forma de pagamento' %}</h1>
</div>
<div class="row">
  <div class="col-md-12">{% trans 'Pedido' %} # {{order.pk }}</div>
  <div class="col-md-4 col-md-offset-2">
    <a
      href="{% url 'checkout:pagseguro_view' order.pk %}"
      class="btn btn-success"
      >{% trans 'Pagar com PagSeguro' %}</a
    >
  </div>
  <div class="col-md-4">
     <a href="{% url 'checkout:paypal_view' order.pk %}" class="btn btn-primary">Pagar com Paypal</a>
  </div>
</div>
{% endblock %}
