{% extends "accounts/index.html" %}

{% load static i18n %}
{% load humanize %}

{% block title %}
    Pedido #{{ order.pk }}
{% endblock %}

{% block accounts_container %}
    <h2>{% trans 'Pedido' %} #{{ order.pk }}</h2>
    <dl class="dl-horizontal">
        <dt>Total R$</dt>
        <dd>{{ object.total|floatformat:"2" }}</dd>
        <dt>{% trans 'Situação' %}</dt>
        <dd>{{ object.get_status_display }}</dd>
        <dt>{% trans 'Data' %}</dt>
        <dd>{{ object.created|date:"d/m/Y H:i" }}</dd>
        <dt>{% trans 'Meio de Pagamento' %}</dt>
        <dd>{{ object.get_payment_option_display }}</dd>
    </dl>
    <h3>{% trans 'Itens do Pedido' %}</h3>
    {% for item in object.items.all %}
        <dl class="dl-horizontal">
            <dt>{% trans 'Produto' %}</dt>
            <dd>{{ item.product }}</dd>
            <dt>{% trans 'Quantidade' %}</dt>
            <dd>{{ item.quantity }}</dd>
            <dt>{% trans 'Preço' %}</dt>
            <dd>R$ {{ item.price|floatformat:"2" }}</dd>
        </dl>
    {% endfor %}
{% endblock %}