{% extends 'base.html' %}
{% load static i18n %}

{% block title %}
    {% trans 'Confirmação do Envio de E-mail' %}
{% endblock %}

{% block container %}
    <p>
        {% trans 'Nós lhe enviamos instruções para redefinição de sua senha, se existe alguma conta associada ao e-mail inserido. Você deve recebê-lo em breve.' %}
{#        Nós lhe enviamos instruções para redefinição de sua senha, se existe alguma conta associada ao e-mail inserido.#}
{#        Você deve recebê-lo em breve.#}
        {#    We've emailed you instructions for setting your password, if an account exists with the email you entered.#}
        {#    You should receive them shortly.#}
    </p>
    <p>
        {% trans "Se você não receber o e-mail, por favor verifique se o e-mail inserido é realmente o que está associado ao seu cadastro, e verifique também a caixa de spam." %}
{#        Se você não receber o e-mail, por favor verifique se o e-mail inserido é realmente o que está associado ao seu#}
{#        cadastro, e verifique também a caixa de spam.#}
        {#        If you don't receive an email, please make sure you've entered the address you registered with,#}
        {#        and check your spam folder.#}
    </p>
{% endblock %}