{% extends 'base.html' %}
{% load static i18n %}

{% block title %}{% trans "Reiniciar senha" %}{% endblock %}

{% block container %}

    <div class="container p-5">
        <h2 class="font-weight-bold mt-3">{% trans "Reinicie sua senha" %}</h2>
        <hr>
        <p>{% trans "Por favor, entre com a nova senha duas vezes." %}</p>
        {% if validlink %}
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-primary" type="submit">{% trans "Reiniciar senha" %}</button>
            </form>
        {% else %}
            <p>{% trans "O link para redefinição de senha é inválido, provavelmente por já ter sido utilizado. Por favor, realize uma nova solicitação." %}</p>
        {% endif %}
    </div>
{% endblock %}