{% extends 'base.html' %}
{% load static i18n %}
{% load widget_tweaks %}

{% block title %}
    {% trans "Recuperar Acesso" %}
{% endblock %}

{% block container %}

    <!--Reset Password-->
    <div class="container p-5">
        <h2 class="font-weight-bold mt-3">{% trans "Recuperar Acesso" %}</h2>
        <hr>
        <p>{% trans "Esqueceu sua senha? Insira seu e-mail logo abaixo, e nós lhe enviaremos instruções para insirar uma nova." %}</p>
        {#         Forgotten your password? Enter your email address below, and we'll email instructions for setting a new#}
        {#            one.#}
        <form class="form-horizontal" method="POST">
            {% csrf_token %}

            {{ form.as_p }}

            <button class="btn btn-primary" type="submit">{% trans "Envie-me as instruções!" %}</button>
        </form>
    </div>

{% endblock %}