{% load static i18n  %}
{% get_current_language as LANGUAGE_CODE %}



<!DOCTYPE html>
{% load static %} {% load i18n %}
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}LoLja Online{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="stylesheet"
      href="{% static 'assets/bootstrap.min.css' %}"
      media="screen"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/custom.min.css' %}"
      media="screen"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/extra.css' %}"
      media="screen"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <script src="{% static 'assets/essential-functions.js' %}"></script>

    <script type="text/javascript">
        var lang = "{{ LANGUAGE_CODE }}";
        var array = lang.split('-');

        var new_lang = array[0];

        if (array.length > 1) {
            new_lang += '-';
            new_lang += array[1].toUpperCase();
        }

    </script>


    <script type="text/javascript" src="{% static 'js/jquery-3.1.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-ui.js' %}"></script>
    <link href="{% static 'imgViewer2/imgViewer2.min.css' %}" type="text/css" rel="stylesheet" />



    <script type="text/javascript">
        function AttachImgZoomCallback() {
            $("img:not(.no_zoom)").click(function () {
                let imgUrl = $(this).attr("src");

                $("#image-lightbox .modal-body").html('<div style="text-align: center;"><img id="image-placeholder" src="" alt="" style="max-width: 100%; max-height: 100%;" /></div>');

                $("#image-placeholder").attr('src', imgUrl);

                $("#image-lightbox").modal("show");
            });

            $("#image-lightbox").on("shown.bs.modal", function (e) {
                $("#image-placeholder").imgViewer2();
            });

            $("#image-lightbox").on("hidden.bs.modal", function (e) {
                $("#image-lightbox .modal-body").html("");
            });
        }
        
        $(function () {
            AttachImgZoomCallback();
        });
    </script>
  </head>
  <body data-lang="{{ LANGUAGE_CODE }}">
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="{% url 'index' %}" class="navbar-brand">LoLja Online</a>
          <button
            class="navbar-toggle"
            type="button"
            data-toggle="collapse"
            data-target="#navbar-main"
          >
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li>
              <a href="{% url 'index' %}">{% trans 'Início' %}</a>
            </li>
            <li class="dropdown">
              <a
                class="dropdown-toggle"
                data-toggle="dropdown"
                href="{% url 'catalog:product_list' %}"
                id="download"
                >{% trans 'Categorias' %} <span class="caret"></span
              ></a>
              <ul class="dropdown-menu" aria-labelledby="download">
                {% for category in categories %}
                <li>
                  <a href="{{ category.get_absolute_url }}">{{ category }}</a>
                </li>
                {% endfor %}
              </ul>
            </li>
            <li>
              <a href="{% url 'contact' %}">{% trans 'Contato' %}</a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
            <li>
              <a href="{% url 'accounts:index' %}">{% trans 'Minha Conta' %}</a>
            </li>
            <li><a href="{% url 'logout' %}">{% trans 'Sair' %}</a></li>
            {% else %}
            <li><a href="{% url 'login' %}">{% trans 'Entrar' %}</a></li>
            <li>
              <a href="{% url 'accounts:register' %}"
                >{% trans 'Registrar' %}</a
              >
            </li>
            {% endif %}
            <li>
              <a href="{% url 'checkout:cart_item' %}"
                >{% trans 'Carrinho' %}</a
              >
            </li>
            <li class="dropdown language-selector pull-right " style="margin-top:1px;margin-right:10px;">
              {% get_current_language as LANGUAGE_CODE %}

              <a href="#" class="dropdown-toggle hidden-sm hidden-xs" data-toggle="dropdown" data-close-others="true">
                  <span >[{{LANGUAGE_CODE}}]  </span>
              </a>
              <ul class="dropdown-menu">
                  {% get_available_languages as LANGUAGES %}
                  {% get_language_info_list for LANGUAGES as languages %}

                  {% for language in languages %}
                      <li {% if language.code == LANGUAGE_CODE %}
                          class="active"
                      {% endif %}>
                          <a class="language-item" value-lang="{{language.code}}">
                              <span>{{language.code}}</span>
                          </a>
                      </li>
                  {% endfor %}
              </ul>
          </li>
          </ul>
          
        </div>
      </div>
    </div>
    <div class="container margin-top">
      {% block messages %} {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">{{ message }}</div>
      {% endfor %} {% endblock messages %} {% block container %}{% endblock %}
      <footer>
        <div class="row">
          <div class="col-lg-12">
            <ul class="list-unstyled">
              <li class="pull-right">
                <a href="#top">{% trans 'Voltar ao topo' %}</a>
              </li>
              <li><a href="{% url 'index' %}">{% trans 'Início' %}</a></li>
              <li>
                <a href="{% url 'catalog:product_list' %}"
                  >{% trans 'Produtos' %}</a
                >
              </li>
              <li><a href="{% url 'contact' %}">{% trans 'Contato' %}</a></li>
              <li><a href="">{% trans 'Termos e privacidade' %}</a></li>
            </ul>
            
        </div>
      </footer>
    </div>
    

    <script src="{% static 'js/index.js' %}"></script>
    <script>


      $(".language-item").click(function(event) {

        change_language.post("{% url 'set_language' %}", {'language': $(this)[0].attributes[1].value, next: "{% url 'index' %}", csrfmiddlewaretoken: '{{ csrf_token }}' } );

      });
      
    </script>


    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <!-- Add icon library -->
    <script src="{% static 'assets/main.js' %}"></script>
    <script src="{% static 'assets/bootstrap.min.js' %}"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>
