{% extends "base.html" %}
{% load static i18n %}
{% load widget_tweaks %}

{% block title %}Entrar | {{ block.super }}{% endblock %}

{% block container %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="page-header">
                <h1>{% trans 'Entrar' %}</h1>
            </div>
            <form class="form-horizontal" method="post">
                {% csrf_token %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        {{ error }}
                    </div>
                {% endfor %}
                <fieldset>
                    <div class="form-group{% if form.username.errors %} has-error{% endif %}">
                        <label for="{{ form.username.auto_id }}"
                               class="col-md-3 control-label text-align-left">{{ form.username.label }}</label>
                        <div class="col-md-9">
                            {% render_field form.username class="form-control" %}
                            {% for error in form.username.errors %}
                                <span class="help-block">{{ error }}</span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="form-group{% if form.password.errors %} has-error{% endif %}">
                        <label for="{{ form.password.auto_id }}"
                               class="col-md-3 control-label text-align-left">{{ form.password.label }}</label>
                        <div class="col-md-9">
                            {% render_field form.password class="form-control" %}
                            {% for error in form.password.errors %}
                                <span class="help-block">{{ error }}</span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12 d-flex justify-space-between align-items-center">
                            <button type="submit" class="btn btn-primary float-right">{% trans 'Enviar' %}</button>
                            <a class="text-decoration-none" href="{% url "password_reset" %}">Esqueceu sua senha?</a>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}