{% extends 'base.html' %}
{% load static i18n %}
{% block title %}
    {{ product }} | {{ block.super }}
{% endblock title %}

{% block container %}
    <div class="page-header">
        <h1>{{ product }}</h1>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <a href="#" class="thumbnail">
                <img src="{% static 'img/default-image-350x250.png' %}" alt=""/>
            </a>
            <div class='start-products'>
                <input type="hidden" id="score" name="score" value="{{ product.score }}">
            </div>
        </div>
        <div class="col-sm-8">
            <div class="col-md-12 px-0 d-flex align-items-center">
                <div class="col-md-6 d-flex align-items-center pl-0">
                    R$ <h2>{{ product.price }}</h2>
                </div>
                <div class="col-md-6 pr-0 text-align-right">
                    <a href="{% url 'checkout:create_cartitem' product.slug %}"
                       class="btn btn-success">{% trans 'Adicionar ao carrinho' %} </a>
                </div>
            </div>
            {{ product.description|linebreaks }}
        </div>

    </div>

    <script>
        createStars(1, "{{ product.score }}")
    </script>

{% endblock %}