{% extends 'base.html' %}
{% load pagination %}
{% load static i18n %}

{% block title %}
    Listagem de Produtos | {{ block.super }}
{% endblock title %}

{% block container %}
    <div class="page-header">
        <h1>{% trans 'Produtos' %} </h1>
    </div>
    <div class="row">
        {% for product in product_list %}
            {% include "catalog/_product.html" with product_index=forloop.counter %}
        {% endfor %}

    </div>
    {% pagination request paginator page_obj %}

{% endblock %}